<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployee</servlet-name>
  	<display-name>AddEmployee</display-name>
  	<description></description>
  	<servlet-class>controller.AddEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DatabaseInit</servlet-name>
  	<display-name>DatabaseInit</display-name>
  	<description></description>
  	<servlet-class>controller.DatabaseInit</servlet-class>
  	 <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>AddProject</servlet-name>
  	<display-name>AddProject</display-name>
  	<description></description>
  	<servlet-class>controller.AddProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDepartment</servlet-name>
  	<display-name>AddDepartment</display-name>
  	<description></description>
  	<servlet-class>controller.AddDepartment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddJob</servlet-name>
  	<display-name>AddJob</display-name>
  	<description></description>
  	<servlet-class>controller.AddJob</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignProject</servlet-name>
  	<display-name>AssignProject</display-name>
  	<description></description>
  	<servlet-class>controller.AssignProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddJobPayRate</servlet-name>
  	<display-name>AddJobPayRate</display-name>
  	<description></description>
  	<servlet-class>controller.AddJobPayRate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployeeLeave</servlet-name>
  	<display-name>AddEmployeeLeave</display-name>
  	<description></description>
  	<servlet-class>controller.AddEmployeeLeave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDeduction</servlet-name>
  	<display-name>AddDeduction</display-name>
  	<description></description>
  	<servlet-class>controller.AddDeduction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBonus</servlet-name>
  	<display-name>AddBonus</display-name>
  	<description></description>
  	<servlet-class>controller.AddBonus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPayroll</servlet-name>
  	<display-name>AddPayroll</display-name>
  	<description></description>
  	<servlet-class>controller.AddPayroll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPayments</servlet-name>
  	<display-name>AddPayments</display-name>
  	<description></description>
  	<servlet-class>controller.AddPayments</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DatabaseInit</servlet-name>
  	<url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployee</servlet-name>
  	<url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DatabaseInit</servlet-name>
  	<url-pattern>/DatabaseInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProject</servlet-name>
  	<url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDepartment</servlet-name>
  	<url-pattern>/AddDepartment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddJob</servlet-name>
  	<url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignProject</servlet-name>
  	<url-pattern>/AssignProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddJobPayRate</servlet-name>
  	<url-pattern>/AddJobPayRate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployeeLeave</servlet-name>
  	<url-pattern>/AddEmployeeLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDeduction</servlet-name>
  	<url-pattern>/AddDeduction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBonus</servlet-name>
  	<url-pattern>/AddBonus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPayroll</servlet-name>
  	<url-pattern>/AddPayroll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPayments</servlet-name>
  	<url-pattern>/AddPayments</url-pattern>
  </servlet-mapping>
</web-app>